In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

2.2.2

In [5]:
s = pd.Series([1,2,3,4,5,6,7])
s

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [9]:
s[1]

2

In [11]:
data = {
    "name" :["Sep", "Ali", "Mobin"],
    "age" : [25,40,56],
    "city": ["Teh", "NYC", "Paris"]
}
df = pd.DataFrame(data)
df

    name  age   city
0    Sep   25    Teh
1    Ali   40    NYC
2  Mobin   56  Paris

In [12]:
df["name"]

0      Sep
1      Ali
2    Mobin
Name: name, dtype: object

In [20]:
df.iloc[2] #Access Row

name    Mobin
age        56
city    Paris
Name: 2, dtype: object

In [23]:
df["city"].dtype

dtype('O')

In [26]:
df["name"] = df["name"].astype("str")

In [27]:
df["name"].dtype

dtype('O')

In [29]:
data = [1,2,3,4]
series = pd.Series(data)
series

0    1
1    2
2    3
3    4
dtype: int64

In [30]:
conda install numpy

Channels:
 - defaults
Platform: osx-arm64
Collecting package metadata (repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [31]:
import numpy as np

In [34]:
data = np.array([1,2,3,4])
series = pd.Series(data)
series

0    1
1    2
2    3
3    4
dtype: int64

In [36]:
data = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
series = pd.Series(data)
series

a    1
b    2
c    3
d    4
e    5
dtype: int64